@traefik-microstack:registry=http://npm-mirror:4873/
# npm v9+ requires a token entry before it will send a publish request.
# Verdaccio accepts this because @traefik-microstack/* has publish: $all.
# Run once: npm config set //npm-mirror:4873/:_authToken dummy-token
